<div class='modal-header'>
  <h3>
    Card: {{card.name}}
  </h3>
</div>

<div class='modal-body'>
  <table ng-show="card.tasks.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th>Task Details</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="t in card.tasks">
        <td><span ng-class="{strike: t.status==='Closed'}">{{t.name}}</span></td>
        <td>{{t.status}}</td>
        <td>
          <a class="action" ng-show="t.status==='Open'" ng-click="closeTask($index)">Close</a>
          <a class="action" ng-show="t.status==='Closed'" ng-click="reopenTask($index)">Re-Open</a>
          <a class="action" ng-click="deleteTask($index)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <h5>Delete card</h5>
  <div class="row">
    <button class="btn btn-default" ng-click="deleteCard(card)">Delete</button>
  </div>

  <div ng-show="card.status !== 'Archive'">
    <h5>Archive card</h5>
    <div class="row">
      <button class="btn btn-default" ng-click="archiveCard(card)">Archive</button>
    </div>
  </div>
  
</div>
  
<div class='modal-footer'>
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
