<div class='modal-header'>
  <h3>
    Edit Card: {{card.name}}
  </h3>
</div>

<div class='modal-body cardForm'>
  <form name="cardForm" class="form-horizontal" role="form">
  <tabset>
    <tab>
      <tab-heading>
        <i class="glyphicon glyphicon-info-sign"></i> Card Details
      </tab-heading>
      
      <div class="cardDetails">
        <div class="form-group">
          <label for="card.name" class="col-sm-2 control-label">Name:</label>
          <div class="col-sm-8">
            <input name="card.name" type='text' ng-model="card.name" class="form-control">
          </div>
        </div>
      
        <div class="form-group">
          <label class="col-sm-2 control-label">Status:</label>
          <div class="col-sm-8">
            <select ng-model="card.status" ng-options="s for s in workflow" class="form-control"></select>
          </div>
        </div>
      
        <div class="form-group">
          <label class="col-sm-2 control-label">Story:</label>
          <div class="col-sm-8">
            <textarea placeholder="As a ... I want ... so that ..." ng-model="card.story" class="form-control"></textarea>
          </div>
        </div>
      
        <div class="form-group">
          <label class="col-sm-2 control-label">Acceptance Criteria:</label>
          <div class="col-sm-8">
            <textarea placeholder="Given ... when ... then ..." ng-model="card.acceptance" class="form-control"></textarea>
          </div>
        </div>
      
        <div class="form-group">
          <label class="col-sm-2 control-label">Points:</label>
          <div class="col-sm-8">
            <input type='text' ng-model="card.points" class="form-control">
          </div>
        </div>
      
      </div>
    </tab>
    
    <tab>
      <tab-heading>
        <i class="glyphicon glyphicon-tasks"></i> Tasks
      </tab-heading>
      
      <div class="cardDetails">
        <ul>
          <li ng-repeat="t in card.tasks">{{t}} <button ng-click="deleteTask($index)" class=""><i class="glyphicon glyphicon-remove"></i> Delete</button></li>
        </ul>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">Task:</label>
          <div class="col-sm-8">
            <input type='text' ng-model="card.newTask" class="form-control"><button ng-click="addTask()" class="">
            <i class="glyphicon glyphicon-plus-sign"></i> Add</button>
          </div>
          
        </div>
      </div>
    </tab>
  </tabset>
  </form>
</div>
  
<div class='modal-footer'>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button> <button class="btn btn-primary" ng-click="save(card)">Save</button>
</div>
