<div ng-include src="'/views/header.html'"></div>

<div>
  <h3>Project: {{project.name}}</h3>
  <button role='button' class='btn' ng-click="createProject()">Create</button>
  <button role='button' class='btn' ng-click="editProject(project)">Edit</button>
  <button role='button' class='btn' ng-click="switchProject()">Switch</button>
</div>

<div id="cards">
  <h3>Cards:</h3>
  <ul class="cardHolder connected sortable grid" html-sortable="sortableOptions" ng-model="cards">
    <li ng-repeat="card in cards track by card.id">
      <div class="card">
        <div><span class="cardTitle">{{card.name}}</span></div>
        <div><span class="cardPoints">Points: {{card.points}}</span></div>
        <div><span class="cardTaskCount">Tasks: {{card.tasks.length}}</span></div>
      </div>
    </li>
  </ul>
  <button role='button' class='btn' ng-click="createCard(project)">Create</button>
</div>

<div ng-include src="'/views/footer.html'"></div>
