<div ng-include src="'views/header.html'"></div>

<tabset>
  <tab id="boardTab">
    <tab-heading>
      Board
    </tab-heading>
    
    <div id="cards">
      <div id="columns" class="row">
        <div class="workflowColumn col-md-4" ng-repeat="workflow in project.workflow">
          <h4>{{workflow}}</h4>
          <ul class="cardHolder connected sortable" data-workflow="{{workflow}}" ui-sortable="sortableOptions" ng-model="kanbanCards[workflow]">
            <li ng-repeat="card in kanbanCards[workflow] track by card.id">
              <div class="card" ng-dblclick="toggleCard($event)">
                <div>
                  <h5><span class="cardTitle">{{card.name}}</span>
                  <a class="cardAction" ng-click="editCard(card)">Edit</a>
                  <a class="cardAction" ng-click="actions(card)">Actions</a></h5>
                </div>
                <div><span class="cardStory"><span class="cardLabel">Story:</span> {{card.story}}</span></div>
                <div>
                  <span class="cardPoints"><span class="cardLabel">Points:</span> {{card.points}}</span>
                  <span class="cardTaskCount"><span class="cardLabel">Tasks:</span> {{card.tasks.length}}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </tab>

  <tab id="listTab">
    <tab-heading>
      List
    </tab-heading>
    <table class="storyList table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Story</th>
          <th>Points</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="c in listCards track by c.id">
          <td>{{c.name}}</td>
          <td>{{c.story}}</td>
          <td>{{c.points}}</td>
          <td>{{c.status}}</td>
          <td>
            <a class="cardAction" ng-click="editCard(c)">Edit</a>
            <a class="cardAction" ng-click="actions(c)">Actions</a>
          </td>
        </tr>
      </tbody>
    </table>
  </tab>

  <tab id="archiveTab">
    <tab-heading>
      Archive
    </tab-heading>
    <table class="storyList table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Story</th>
          <th>Points</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="c in archiveCards track by c.id">
          <td>{{c.name}}</td>
          <td>{{c.story}}</td>
          <td>{{c.points}}</td>
          <td>{{c.status}}</td>
          <td>
            <a class="cardAction" ng-click="editCard(c)">Edit</a>
            <a class="cardAction" ng-click="actions(c)">Actions</a>
          </td>
        </tr>
      </tbody>
    </table>
  </tab>

</tabset>
  
<div class="button-global">
  <button role="button" class="btn btn-primary" ng-click="createCard(project)">Create card</button>
</div>

<div ng-include src="'views/footer.html'"></div>
