<div class='modal-header'>
  <h3>
    Project: {{project.name}}
  </h3>
</div>

<div class='modal-body'>
  <form name="projectForm" class="form-horizontal" role="form">
    <div class="projectDetails">
      <div class="form-group">
        <label for="project.name" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-8">
          <input name="project.name" type='text' ng-model="project.name" class="form-control">
        </div>
      </div>
    </div>
  </form>
</div>
  
<div class='modal-footer'>
  <button class="btn btn-danger" ng-click="cancel()">Cancel</button> <button class="btn btn-primary" ng-click="save(project)">Save</button>
</div>
